ul.applications {
  margin-top: 30px;
  padding-left: 0;
}

ul.applications li {
  list-style-type: none;
  border-bottom: 1px solid #e5e5e5;
}

ul.applications h3 {
  line-height: 5px;
}

ul.applications span.state {
  font-size: 12px;
}
