<div class="columns">
  <div class="one-half column centered">
    {{> error-view }}
    <form action="./change-password" method="post">
      <dl class="form">
        <dt><label>Current password</label></dt>
        <dd><input required name="currentPassword" type="password" value=""></dd>
      </dl>

      <dl class="form">
        <dt><label>New password</label></dt>
        <dd><input required name="newPassword" type="password" value=""></dd>
      </dl>

      <dl class="form">
        <dt><label>Retype new password</label></dt>
        <dd><input required name="reenteredPassword" type="password" value=""></dd>
      </dl>

      <div class="form-actions">
        <input type="submit" class="btn btn-primary" value="Update" />
        <a class="btn" href="/">Cancel</a>
      </div>
    </form>
  </div>
</div>
