<div class="columns">
  <div class="one-half column centered">
    <form action="./signup" method="post">
      <dl class="form">
        <dt><label>E-Mail</label></dt>
        <dd><input required name="email" type="email" value=""></dd>
      </dl>

      <dl class="form">
        <dt><label>Password</label></dt>
        <dd><input required name="password" type="password" value=""></dd>
      </dl>

      <dl class="form">
        <dt><label>Display Name</label></dt>
        <dd><input required name="displayName" type="text" value=""></dd>
      </dl>

      <div class="form-actions">
        <input type="submit" class="btn btn-primary" value="Signup" />
      </div>
    </form>
  </div>
</div>
