{{> application/header app=app }}

<div class="columns">
  <div class="one-third column">
    {{> application/navigation activeItem="events" app=app }}
  </div>
  <div class="two-thirds column">
    <h2>Event</h2>
  </div>
</div>
