<p>{{ app.description }}</p>

<div class="columns">
  <div class="one-fifth column">
    {{> application/navigation activeItem="settings" app=app }}
  </div>
  <div class="four-fifths column">
  </div>
</div>
