{{> application/header app=app }}

<div class="columns">
  <div class="one-third column">
    {{> application/navigation activeItem="home" app=app }}
  </div>
  <div class="two-thirds column">
    <div class="columns">

      <div class="full-width column">
        <dl class="form">
          <dt><label>Access Token</label></dt>
          <dd><input type="text" class="input-block full-width" value="{{ app.token }}" readonly></dd>
        </dl>
      </div>

      <div class="full-width column">
        <h2>Response Time (Average: {{metrics.responseTime.average}} ms)</h2>
        <canvas id="app-metrics" width="527" height="250"></canvas>
      </div>

      <div class="full-width column">
        <h2>Events</h2>
        {{> application/event-list app=app }}
      </div>

    </div>
  </div>
</div>

<script type="text/javascript">
  var data = {
      labels: {{{ json metrics.responseTime.labels }}},
      datasets: [
          {
              label: "Response Time",
              strokeColor: "#333",
              pointColor: "#333",
              pointStrokeColor: "#fff",
              pointHighlightFill: "#fff",
              pointHighlightStroke: "rgba(151,187,205,1)",
              data: {{{ json metrics.responseTime.data }}}
          }
      ]
  };
  var options = {
      scaleShowGridLines : false,
      bezierCurveTension : 0.3,
      pointHitDetectionRadius : 5,
      datasetStroke : true,
      datasetFill : false,
  };

  var chartContext = document.getElementById("app-metrics").getContext("2d");
  var myLineChart = new Chart(chartContext).Line(data, options);

</script>
