{{> application/header app=app }}

<div class="columns">
  <div class="one-third column">
    {{> application/navigation activeItem="home" app=app }}
  </div>
  <div class="two-thirds column">
    <div class="columns">

      <div class="full-width column">
        <h2>Facts</h2>
        <dl class="form">
          <dt><label>Access Token</label></dt>
          <dd><input type="text" class="input-block full-width" value="{{ app.token }}" readonly></dd>
        </dl>
      </div>

      <div class="full-width column">
        <h2>Events</h2>
        {{> application/event-list app=app }}
      </div>

    </div>
  </div>
</div>
